<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect blog posts" stopProcessing="true">
					<match url="^\d{4}/\d{2}/(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^blog\.mzikmund\.com$" />
					</conditions>
					<action type="Redirect" url="https://blog.mzikmund.dev/blog/{R:1}" redirectType="Temporary" />
				</rule>

				<rule name="Redirect wp-content/uploads to cdn" stopProcessing="true">
					<match url="^(wp-content/uploads/.+)$" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^blog\.mzikmund\.com$" />
					</conditions>
					<action type="Redirect" url="https://cdn.mzikmund.dev/{R:1}" redirectType="Temporary" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

</configuration>
