html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

article {
  max-width: 50em;
  margin: auto;
}

article figure {
    width: 100%;
    text-align: center;
}
