@model MZikmund.Web.Pages.Blog.IPostPageModel
@using System.Linq

<article class="blog-post">
    <div class="post-content">
        @Html.Raw(Model.HtmlContent)
    </div>
    <footer>
        <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7501232789626725"
                 crossorigin="anonymous"></script>
            <!-- ArticleBottom -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7501232789626725"
                 data-ad-slot="4418669923"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <p class="text-center">
            @foreach (var tag in Model.BlogPost!.Tags)
            {
                <a class="badge rounded-pill bg-secondary text-decoration-none" asp-page="/Blog/TagPostList" asp-route-tagName="@tag.RouteName">#@tag.DisplayName</a>
            }
        </p>
    </footer>
</article>
