@page "/Blog/Categories/{categoryName}"
@model MZikmund.Web.Pages.Blog.CategoryPostListModel
@{
    <h1 class="display-4 text-center text-primary">@Model.Category.DisplayName</h1>
    <div class="row">
        <partial name="_PostList" model="Model.BlogPosts" />
    </div>
}
