@page "/Blog/Categories/{categoryName}"
@model MZikmund.Web.Pages.Blog.CategoryPostListModel

@{
    MetaTags.Title = Model.Category.DisplayName;
}

@{
    <div class="blog-header text-center mb-3">
        <h1 class="display-4 text-primary">@Model.Category.DisplayName</h1>
    </div>

    <div class="row">
        <partial name="_PostList" model="Model.BlogPosts" />
    </div>
}
