@page
@model MZikmund.Web.Pages.Blog.IndexModel
@{
    <div class="row">
        @foreach (var post in Model.BlogPosts)
        {
            <partial name="_BlogListItemPartial" model="post" />
        }
    </div>
}
