@page "/Blog/Preview/{PreviewToken:guid}"
@using System.Linq
@using Microsoft.AspNetCore.Http.Extensions
@model MZikmund.Web.Pages.Blog.PostPreviewModel

@{
    MetaTags.Title = Model.BlogPost?.Title ?? "";
    MetaTags.Description = Model.BlogPost?.Abstract ?? "";
    MetaTags.Keywords = Model.MetaKeywords;
    if (Model.BlogPost?.HeroImageUrl is { } url)
    {
        MetaTags.Image = url;
    }
    if (Model.BlogPost?.HeroImageAlt is { } alt)
    {
        MetaTags.ImageAlt = alt;
    }
}

<div class="alert alert-info mb-4" role="alert">
    <strong>Preview Mode:</strong> You are viewing a preview of this blog post. This preview URL is for sharing purposes only.
</div>

@await Html.PartialAsync("_PostContent", Model)
