<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <title>@ViewData[ViewDataProperties.Title] - MZikmund.Web</title>

    <partial name="_HeadMetaPartial" />
    <partial name="_HeadLinksPartial" />

    <partial name="_HeadStylesPartial" />

    @Html.Raw(JavaScriptSnippet.FullScript)
    <partial name="_HeadScriptsPartial" />

    @await RenderSectionAsync(LayoutSections.Head, required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm shadow-sm mb-4">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/img/logo.png" width="48" alt="Martin Zikmund" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Blog/Index">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @await RenderSectionAsync(LayoutSections.AboveMain, false)
    <div class="container">
        <main role="main" class="pb-4">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img src="~/img/logo.png" style="opacity: 0.8" width="24" alt="Martin Zikmund" />
                </a>
                <span class="mb-3 mb-md-0 text-muted">© @DateTimeOffset.UtcNow.Year Martin Zikmund</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
        </div>
    </footer>

    <partial name="_CookieConsentPartial" />

    @await RenderSectionAsync(LayoutSections.BodyEnd, required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
