<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap rescap mp">

	<Identity
		Name="5143MartinZikmund.MartinZikmund"
		Publisher="CN=5EDFBB6C-AD5D-4B76-B479-1C5F44017714"
		Version="1.0.0" />

	<Properties>
		<DisplayName>Martin Zikmund</DisplayName>
		<PublisherDisplayName>Martin Zikmund</PublisherDisplayName>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
			Executable="$targetnametoken$.exe"
			EntryPoint="$targetentrypoint$">
			<uap:VisualElements
				DisplayName="ms-resource:ApplicationName"
				Description="Martin Zikmund App">
				<uap:SplashScreen />
				<uap:DefaultTile/>
			</uap:VisualElements>
			<Extensions>
				<uap:Extension Category="windows.protocol">
					<uap:Protocol Name="mzikmund-app">
						<uap:Logo>Images\StoreLogo.png</uap:Logo>
						<uap:DisplayName>MZikmund app scheme</uap:DisplayName>
					</uap:Protocol>
				</uap:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>

	<mp:PhoneIdentity PhoneProductId="5d7406cb-65f8-49d8-b832-db920b5ca6cc" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
</Package>
